<!DOCTYPE html>
<html>
<head>
    <title>Formatting</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <h1 id="formatting-header">Example of Formatting tags</h1>
    <p class="subtext-example">This text has <b>subtext</b> using b tag</p>
    <p class="subtext-example">This text has <strong>subtext</strong> using strong tag</p>
    <p class="subtext-example">This text has <i>subtext</i> using i tag</p>
    <p class="subtext-example">This text has <em>subtext</em> using emphasize tag</p>
    <p class="subtext-example">This text has <small>subtext</small> using small tag</p>
    <p class="subtext-example">This text has <mark>subtext</mark> using mark tag</p>
    <p class="subtext-example">This text has <del>subtext</del> using del tag</p>
    <p class="subtext-example">This text has <ins>subtext</ins> using ins tag</p>
    <p class="subtext-example">This text has X<sub>subtext</sub> using sub tag</p>
    <p class="subtext-example">This text has X<sup>subtext</sup> using sup tag</p>
</body>
</html>