<!DOCTYPE html>
<html>
<head>
    <title>Links</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <a href="https://qu.edu.sa" target="_blank" class="link-btn" id="link-new-tab">Go to QU Website (open a new tab)</a>
    <a href="https://qu.edu.sa" class="link-btn" id="link-same-page-1">Go to QU website (open in the same page/tab)</a>
    <a href="https://qu.edu.sa" class="link-btn" id="link-same-page-2">Go to QU website (open in the same page/tab)</a>
</body>
</html>